<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmos de Otimização</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
     <div id="algoritmos-geneticos" class="content hidden">
            <div class="ag-content">
                <i class="fas fa-dna ag-icon"></i>
                <h2>Algoritmos Genéticos</h2>
                <p>Módulo em desenvolvimento</p>
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>