<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmos de Otimização</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
     <div id="algoritmos-geneticos" class="content hidden">
        <h2>Executar Algoritmo Genético</h2>
        <form onsubmit="return false;">
            <!-- Tamanho da população -->
            <div class="form-group">
                <label for="tam-pop">Tamanho da população:</label>
                <input type="number" id="tam-pop" name="tam-pop" min="1"step="1" required>
            </div>

            <!-- Número de gerações -->
            <div class="form-group">
                <label for="num-geracoes">Número de gerações:</label>
                <input type="number" id="num-geracoes" name="num-geracoes" min="1" step="1" required>
            </div>

            <!-- Taxa de crossover -->
            <div class="form-group">
                <label for="taxa-crossover">Taxa de crossover:</label>
                <input type="number" id="taxa-crossover" name="taxa-crossover" step="any" min="0" max="1" required>
            </div>

            <!-- Taxa de mutação -->
            <div class="form-group">
                <label for="taxa-mutacao">Taxa de mutação:</label>
                <input type="number" id="taxa-mutacao" name="taxa-mutacao" step="any" min="0" max="1" required>
            </div>

            <!-- Intervalo de Geração -->
            <div class="form-group">
                <label for="intervalo_geracao">Intervalo de Geração</label>
                <input type="number" id="intervalo_geracao" name="intervalo_geracao" step="any" min="0" max="1" required>
            </div>

            <button type="button" class="btn-executar" onclick="executarAG()">Executar AG</button>
        </form>

        <div id="resultado-ag" class="resultado hidden"></div>
        <input type="hidden" id="solucaoInicialInput">
        <input type="hidden" id="tempoInput">
        <input type="hidden" id="custoInicial">

        <div id="resultadoAG"></div>

    </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>